hw1/data
hw1\data
hw1/report
hw1\report
hw2/hw2_data
hw2\hw2_data
hw2/material
hw2\material
hw1/.vscode/.ropeproject/config.py
hw1/.vscode/.ropeproject/objectdb
hw1/__pycache__/Dataset.cpython-38.pyc
hw1/__pycache__/Model.cpython-38.pyc
